[submodule "IOSerialFamily"]
	path = IOSerialFamily
	url = https://github.com/apple-oss-distributions/IOSerialFamily
[submodule "Libc"]
	path = Libc
	url = https://github.com/apple-oss-distributions/Libc
[submodule "Libcompat"]
	path = Libcompat
	url = https://github.com/apple-oss-distributions/Libcompat
[submodule "Libcurses"]
	path = Libcurses
	url = https://github.com/apple-oss-distributions/Libcurses
[submodule "Libsystem"]
	path = Libsystem
	url = https://github.com/apple-oss-distributions/Libsystem
[submodule "OpenSSH"]
	path = OpenSSH
	url = https://github.com/apple-oss-distributions/OpenSSH
[submodule "xnu"]
	path = xnu
	url = https://github.com/apple-oss-distributions/xnu
