[submodule "Libsystem"]
	path = Libsystem
	url = https://github.com/apple-oss-distributions/Libsystem
[submodule "Libinfo"]
	path = Libinfo
	url = https://github.com/apple-oss-distributions/Libinfo
[submodule "configd"]
	path = configd
	url = https://github.com/apple-oss-distributions/configd
[submodule "netinfo"]
	path = netinfo
	url = https://github.com/apple-oss-distributions/netinfo
[submodule "network_cmds"]
	path = network_cmds
	url = https://github.com/apple-oss-distributions/network_cmds
[submodule "ntp"]
	path = ntp
	url = https://github.com/apple-oss-distributions/ntp
